<app-header></app-header>

 
<body>
    

    <div class="timeline" >
 
        <div class="container left-container">
            <img src="../../assets/images/school-building_23-2147515924.webp" alt="">
            <div class="text-box">
                <h1>School</h1>
                <small>2015-2016</small>
                <p>"Proud graduate of <span style="color: rgb(85, 88, 245) ; text-decoration-line: underline; font-weight:bold;">Carmel Garden High School</span>where I excelled in my SSLC/10th/Metriculation studies,
                    where I gained a strong foundation in academic principles and developed essential skills for future endeavors."</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="../../assets/images/college.jpg" alt="">
            <div class="text-box">
                <h1>Intermediate</h1>
                <small>2016-2018</small>
                <p>"Having achieved academic success at School, 
                    I continued my scholastic journey at <a href="https://klesnc.edu.in/" style="color: rgb(85, 88, 245); text-decoration: underline; font-weight:bold;">
                        K.L.E. Society’s S. Nijalingappa College      </a>                    
                    where I successfully completed +2/Intermediate/PUC in Science stream. 
                    These educational achievements reflect my commitment to continuous learning and personal development."</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="../../assets/images/graduation-cap.png" alt="">
            <div class="text-box">
                <h1>Graduation</h1>
                <small>2018-2022</small>
                <p>"Building on my academic journey, I earned my degree in Engineering at 
                    <a href="https://www.sapthagiri.edu.in/" style="color: rgb(85, 88, 245); text-decoration: underline; font-weight:bold;">
                        Sapthagiri College of Engineering      </a>   
                    specializing in the field of Electronics. This educational milestone furthered my knowledge and skills. 
                    Completing this degree signifies my dedication to pursuing excellence in the field of engineering."</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>


        
         <!--<div class="container right-container">
            <img src="../../assets/images/av.jpg" alt="">
            <div class="text-box">
                <h1>D</h1>
                <small>2019-2998</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore possimus sunt maiores unde, corrupti qui nulla hic quis molestiae quos libero, repudiandae eligendi tenetur dicta culpa nam mollitia! Dolorum, eaque?</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="../../assets/images/av.jpg" alt="">
            <div class="text-box">
                <h1>E</h1>
                <small>2019-2998</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore possimus sunt maiores unde, corrupti qui nulla hic quis molestiae quos libero, repudiandae eligendi tenetur dicta culpa nam mollitia! Dolorum, eaque?</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img class="last" src="../../assets/images/" alt="" >
            <div class="text-box">
                <h1>F</h1>
                <small>2019-2998</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore possimus sunt maiores unde, corrupti qui nulla hic quis molestiae quos libero, repudiandae eligendi tenetur dicta culpa nam mollitia! Dolorum, eaque?</p>
            </div>
        </div> -->
    </div>

</body>
<app-footer></app-footer>
