<!-- <p>home works!</p> -->
<app-header></app-header>
<main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Hello 🖐🖐...</p>

            <h1 class="headline-lg" style="color: rgb(255, 160, 160);">I'm <span style="font-family:cursive; color:rgb(0, 225, 255) ;">Anand V</span></h1>
<!-- <h4>()</h4> -->
            <p class="hero-text body-md" style="color: antiquewhite;">
              <!-- Based in Bangalore, Karnataka.  -->
              "Innovator at heart and executor in action, 
              I am committed to excellence in every pursuit. With a proactive mindset and a passion for success"
            </p>

            <a href="/splash" class="btn btn-primary">Let's Start</a>

          </div>

          <figure class="hero-banner ">
            <img src="../../assets/images/my avatar.png" width="780" height="695"
              alt="profile pic" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #CLIENT
      -->

      <!-- <section class="client" aria-label="Trusted client">
        <div class="container">

          <ul class="slider">

            <li class="slider-item">
              <img src="assets/images/client-1.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-2.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-3.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-4.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-5.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

          </ul>

        </div>
      </section> -->





      <!-- 
        - #ABOUT
      -->

      <section class="section about" aria-label="about me">
        <div class="container">

          <figure class="about-banner">
            <img src="../../assets/images/coder.png" width="580" height="554" loading="lazy"
              alt="developer" class="w-100">
          </figure>

          <div class="about-content">

            <h2 class="title-lg" style="color: rgb(0, 110, 255)">I'm a Full-Stack Developer.</h2>

            <p class="body-md section-text" style="color: black;">
              <!-- I'm a Freelancer Front-end Developer with over 3 years of experience. I'm from San Francisco. I code and
              create web elements for amazing people around the world. I like work with new people. New people new
              Experiences. -->
              I'm a skilled Full-Stack Developer with a passion for creating innovative solutions. 
              I bring a creative approach to every project.  I thrive on turning ideas into functional, user-friendly experiences.
              Let's collaborate to bring your projects to life with creativity and precision. I like work with new people. New people new
              Experiences.
            </p>

            <ul class="about-list">

              <!-- <li>
                <p class="list-text">
                  <strong class="strong title-md">285+</strong> Projet Completed
                </p>
              </li> -->

              <!-- <li>
                <p class="list-text">
                  <strong class="strong title-md">190+</strong> Happy Clients
                </p>
              </li> -->

            </ul>

            <div class="wrapper">
              <a routerLink="/contact" class="btn btn-secondary">Contact Me</a>

              <!-- <a routerLink="/portfolio" class="btn btn-primary">Portfolio</a> -->
            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #SKILL
      -->

      <section class="section skill" aria-labelledby="skill-label" style="background: rgb(158, 158, 158);">
        <div class="container">

          <div class="about-content">

            <h2 class="title-lg">I'm a Professional Photographer. </h2>

            <p class="body-md section-text" style="color: white;">

              "Passionate about capturing moments that tell a story, 
               dedicated to creating timeless and stunning visual narratives. 
              Through my lens, I transform ordinary scenes into extraordinary memories, whether it is portrait or landscape."
            </p>

            <ul class="about-list">

              <!-- <li>
                <p class="list-text">
                  <strong class="strong title-md">285+</strong> Projet Completed
                </p>
              </li> -->

              <!-- <li>
                <p class="list-text">
                  <strong class="strong title-md">190+</strong> Happy Clients
                </p>
              </li> -->

            </ul>

            <div class="wrapper">
              <a routerLink="/contact" class="btn btn-primary">Contact Me</a>
<br>
              <!-- <a routerLink="/portfolio" class="btn btn-secondary">Portfolio</a> -->
            </div>

          </div>

          <figure class="about-banner ">
            <img src="../../assets/images/photographer-1.png" width="780" height="695" 
              alt="photographer pic" class="w-100" >
              
          </figure>

        </div>
        <br>
      </section>


      <!-- <section class="section skill" aria-labelledby="skill-label">
        <div class="container">

          <figure class="skill-banner">
            <img src="assets/images/skill-banner.png" width="581" height="657" loading="lazy"
              alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
          </figure>

          <div class="skill-content">

            <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

            <ul class="skill-list">

              <li>
                <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name="logo-html5"></ion-icon>
                  </div>

                  <h2 class="card-title">HTML</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                  <div class="card-media">
                    <ion-icon name="logo-css3"></ion-icon>
                  </div>

                  <h2 class="card-title">CSS</h2>

                </div>
              </li>

          

              <li>
                <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                  <div class="card-media">
                    <ion-icon name="logo-angular"></ion-icon>
                  </div>

                  <h2 class="card-title">Angular</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name="logo-buffer"></ion-icon>
                  </div>

                  <h2 class="card-title">.NET</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                  <div class="card-media">
                    <ion-icon name="server"></ion-icon>
                  </div>

                  <h2 class="card-title">Database/Server</h2>

                </div>
              </li>
              

              <li>
                <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                  <div class="card-media">
                    <ion-icon name="camera"></ion-icon>
                  </div>

                  <h2 class="card-title">Photography</h2>

                </div>
              </li>

            </ul>

          </div>

          <figure class="skill-banner">
            <img src="../../assets/images/skills.webp" width="581" height="657" loading="lazy"
              alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
          </figure>

        </div>
      </section> -->

    </article>
  </main>

  <app-footer></app-footer>