

<!-- <p>one works!</p> -->
<!-- <div class="hero">
    <nav>
       <img src="../../assets/images/av.jpg"  class="Anand" class="navbar-image">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Experience</a></li>
            <li><a href="#education">Education</a></li>

        </ul>
    </nav>
    <div class="detail">
        <h1>I'm <span>Anand V</span></h1>
        <p>This is my official portfolio website to show all
            <br>details and work I have done
        </p>
        <a href="">download</a>
    </div>
    <div class="images">
        <img src="../../assets/images/try2.png" class="shape">
        <img src="../../assets/images/skill-banner.png" class="boy">
        
    </div>
</div> -->

<!-- <section class="education" id="education">
    <h1 class="education">my <span>education</span>
    </h1>
    <div class="box-container">
        <div class="box">
<i class="fas fa-graduation-cap"></i>
<span>2016</span>
<h3>sslc</h3>
<p>gdhvscjhbdsmcbjhbdscd</p>
        </div>

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2016</span>
            <h3>sslc</h3>
            <p>gdhvscjhbdsmcbjhbdscd</p>
                    </div>

                    <div class="box">
                        <i class="fas fa-graduation-cap"></i>
                        <span>2016</span>
                        <h3>sslc</h3>
                        <p>gdhvscjhbdsmcbjhbdscd</p>
                                </div>
    </div>
</section> -->



<div class="educationn" id="educationn" >
    <div class="container">
    <h2 class="heading">My <span>Journey</span></h2>

    <div class="educationn-row">
        <div class="educationn-column">
            <h3 class="title">Education</h3>

            <div class="educationn-box">
                <div class="educationn-content">
                    <div class="content">
                        <div class="year"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                          </svg> 2016 </div>
                        <h3>Schooling - Carmel Garden High School</h3>
                        <p>hi did hjbsdkajsdoj jsidwknea kndwoa howen 
                        nowdn kjn2lwmspod 23oijwekjadns\
                            jok jinl guilji dshfkj ewudbiw 98erytf jfngknr iuew iweon jnowel </p>
                    </div>
                </div>

                <div class="educationn-content">
                    <div class="content">
                        <div class="year"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                          </svg> 2016 </div>
                        <h3>Schooling - Carmel Garden High School</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo excepturi possimus omnis.
                             Doloribus perspiciatis ab, ut cum eum natus accusantium 
                             aliquam possimus officia quae dicta, enim reiciendis voluptatem id blanditiis! </p>
                    </div>
                </div>

                <div class="educationn-content">
                    <div class="content">
                        <div class="year"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                          </svg> 2016-2018 </div>
                        <h3>Intermediate - KLE PU College</h3>
                        <p>hi did hjbsdkajsdoj jsidwknea kndwoa howen nowdn kjn2lwmspod 23oijwekjadns</p>
                    </div>
                </div>
            
        </div>
    </div>

    <div class="educationn-column">
        <h3 class="title">Education</h3>

        <div class="educationn-box">
    <div class="educationn-content">
        <div class="content">
            <div class="year"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
              </svg> 2018 - 2022 </div>
            <h3>Degree - Sapthagiri college of Engineering</h3>
            <p>hi did hjbsdkajsdoj jsidwknea kndwoa howen nowdn kjn2lwmspod 23oijwekjadns</p>
        </div>
    </div>  
</div> 
</div> 
</div>
</div>
</div>



